# Requires clang version >= 3.8
BasedOnStyle: LLVM
Standard: Cpp11
#
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: TopLevel
AlwaysBreakTemplateDeclarations: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
# vim: ft=yaml
