# Requires clang-format >= 16
BasedOnStyle: LLVM
Standard: Latest
#
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: true
# vim: ft=yaml
